<div class="jumbotron">
    <div class="mx-20 row">
        <div class="col-lg-4 align-items-end">
            <h3 class="section-text t-a-center">Contact Me</h3>
            <div class="phone">
                <i class="bi bi-telephone"></i>&emsp;+91 9503769438
            </div>

            <div class="peronal-mail">
                <i class="bi bi-envelope"></i>&emsp;chaitanyashinge&#64;gmail.com
            </div>

            <div class="institute-mail">
                <i class="bi bi-envelope"></i>&emsp;23m2116&#64;iitb.ac.in
            </div>

            <div class="department-mail">
                <i class="bi bi-envelope"></i>&emsp;chaitanyashinge&#64;cse.iitb.ac.in
            </div>

            <div class="location">
                <i class="bi bi-geo-alt"></i>&emsp;Rees, India
            </div>
        </div>
        <div class="col-lg-8" style="font-size: 50px;">
            <h3 class="t-a-center">Connect with me</h3>
            <div id="contact-me" class="d-flex flex-wrap justify-content-around">
                <div class="github">
                    <a class="link-dark" href="https://github.com/CHAITANYA-IN" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <div class="gitlab">
                    <a class="link-dark" href="https://gitlab.com/CHAITANYA-IN" target="_blank">
                        <i class="bi bi-git"></i>
                    </a>
                </div>
                <div class="google-developer">
                    <a class="link-dark" href="https://g.dev/chaitanyashinge" target="_blank">
                        <i class="bi bi-google"></i>
                    </a>
                </div>
                <div class="linkedin">
                    <a class="link-dark" href="https://linkedin.com/in/chaitanyashinge" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
                <div class="youtube">
                    <a class="link-dark" href="https://www.youtube.com/&#64;chaitanyashinge" target="_blank">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
                <div class="twitter">
                    <a class="link-dark" href="https://twitter.com/ShingeChaitanya" target="_blank">
                        <i class="bi bi-twitter"></i>
                    </a>
                </div>
                <div class="discord">
                    <a class="link-dark" href="https://discord.com/users/chaitanyashinge" target="_blank">
                        <i class="bi bi-discord"></i>
                    </a>
                </div>
                <div class="instagram">
                    <a class="link-dark" href="https://www.instagram.com/chaitanyashinge/" target="_blank">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
                <div class="facebook">
                    <a class="link-dark" href="https://www.facebook.com/chaitanya.shinge" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
                <div class="threads">
                    <a class="link-dark" href="https://www.threads.net/&#64;chaitanyashinge" target="_blank">
                        <i class="bi bi-at"></i>
                    </a>
                </div>
                <div class="telegram">
                    <a class="link-dark" href="https://t.me/chaitanyashinge" target="_blank">
                        <i class="bi bi-telegram"></i>
                    </a>
                </div>

                <div class="snapchat">
                    <a class="link-dark" href="https://www.snapchat.com/add/chaitubshinge" target="_blank">
                        <i class="bi bi-snapchat"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>