<div class="container mt-4 mb-4">
    <div class="text-center">
        <h1 class="display-4">Chaitanya Bharat Shinge</h1>
        <!-- <h4 class="">Computer Science Researcher</h4> -->
    </div>
    <!-- <div style="position: absolute; bottom: 5px; right: 10px;">
        <a class="h4 p-1" href="//linkedin.com" target="_blank">
            <i class="bi bi-linkedin"></i>
        </a>
        <a class="h4 p-1" href="//github.com" target="_blank">
            <i class="bi bi-github"></i>
        </a>
        <a class="h4 p-1" href="//twitter.com" target="_blank">
            <i class="bi bi-twitter"></i>
        </a>
    </div> -->
</div>