<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="text-dark" class="nav-link text-secondary">HOME</a>
            </li>
            <li class="nav-item">
                <a routerLink="portfolio" routerLinkActive="text-dark" class="nav-link text-secondary">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a routerLink="resume" routerLinkActive="text-dark" class="nav-link text-secondary">RESUME</a>
            </li>
            <li class="nav-item">
                <a routerLink="hobbies" routerLinkActive="text-dark" class="nav-link text-secondary">HOBBIES</a>
            </li>
            <li class="nav-item">
                <a routerLink="blog" routerLinkActive="text-dark" class="nav-link text-secondary">BLOG</a>
            </li>
            <li class="nav-item">
                <a routerLink="contact" routerLinkActive="text-dark" class="nav-link text-secondary">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>