<div class="container text-center">
    <button (click)="downloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true">
            <accordion-group [(isOpen)]="isWorkExperienceSectionOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">> </div>
                    <div class="btn-link">Work Experience</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isWorkExperienceSectionOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceSectionOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Role</h2>
                    <h3 class="text-primary">Company</h3>
                    <ul>
                        <li>Responsibility 1</li>
                        <li>Responsibility 2</li>
                        <li>Responsibility 3</li>
                        <li>Responsibility 4</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Role</h2>
                    <h3 class="text-primary">Company</h3>
                    <ul>
                        <li>Responsibility 1</li>
                        <li>Responsibility 2</li>
                        <li>Responsibility 3</li>
                        <li>Responsibility 4</li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group [(isOpen)]="isEducationSectionOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">> </div>
                    <div class="btn-link">Education</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isEducationSectionOpen" style="color: white;">></div>
                        <div *ngIf="isEducationSectionOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Role</h2>
                    <h3 class="text-primary">Company</h3>
                    <ul>
                        <li>Responsibility 1</li>
                        <li>Responsibility 2</li>
                        <li>Responsibility 3</li>
                        <li>Responsibility 4</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Role</h2>
                    <h3 class="text-primary">Company</h3>
                    <ul>
                        <li>Responsibility 1</li>
                        <li>Responsibility 2</li>
                        <li>Responsibility 3</li>
                        <li>Responsibility 4</li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group [(isOpen)]="isCertificationsSectionOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">> </div>
                    <div class="btn-link">Certifications</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isCertificationsSectionOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationsSectionOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Role</h2>
                    <h3 class="text-primary">Company</h3>
                    <ul>
                        <li>Responsibility 1</li>
                        <li>Responsibility 2</li>
                        <li>Responsibility 3</li>
                        <li>Responsibility 4</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Role</h2>
                    <h3 class="text-primary">Company</h3>
                    <ul>
                        <li>Responsibility 1</li>
                        <li>Responsibility 2</li>
                        <li>Responsibility 3</li>
                        <li>Responsibility 4</li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group [(isOpen)]="isSkillsSectionOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">> </div>
                    <div class="btn-link">Skills</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isSkillsSectionOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsSectionOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Role</h2>
                    <h3 class="text-primary">Company</h3>
                    <ul>
                        <li>Responsibility 1</li>
                        <li>Responsibility 2</li>
                        <li>Responsibility 3</li>
                        <li>Responsibility 4</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Role</h2>
                    <h3 class="text-primary">Company</h3>
                    <ul>
                        <li>Responsibility 1</li>
                        <li>Responsibility 2</li>
                        <li>Responsibility 3</li>
                        <li>Responsibility 4</li>
                    </ul>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>